@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
@{
    string? prihlaseny = HttpContextAccessor.HttpContext.Session.GetString("Prihlaseny");
}

<div class="text-center">
    <h1 class="display-4">Welcome @prihlaseny</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
